.heading {
  margin: 30px;
}

.selectorsPane {
  width: 1000px;
  margin: 30px;
  display: flex;

  .search {
    flex: 1 1 auto;
  }

  .select {
    flex: 0 0 auto;
    margin-left: 10px;
  }
}

.dataPane {
  margin: 30px;
  width: 1000px;
}
