@import "~styles/mixins.scss";

.container {
  width: 1200px;
  padding: 20px 40px 20px 20px;
  display: flex;
  align-items: center;
  .image {
    @include box-shadow;
    margin: 20px 30px 0 0;
    width: 400px;
    object-fit: contain;
    align-self: flex-start;
  }
  .text {
    flex: 1 0 0;
    @include font-body;
    color: var(--gray-darkest);
    .title {
      @include font-covid-testing-header;
    }
    .buttonLink {
      text-decoration: none;
    }
    .button {
      width: 170px;
      // button color
      background-color: var(--primary);
      border: none;
      // text color
      color: var(--white);
      @include font-covid-testing-button;
      padding: 5px 10px;
      text-align: center;
    }
  }
}
