.container {
  direction: row;
  display: flex;
  align-items: start;
  padding: 20px;
  object-fit: contain;

  .biohub {
    width: 95%;
    padding-top: 15px;
  }
  .ucsf {
    width: 70%;
    margin: 0px 0px 20px 40px;
  }
  .berkeley {
    width: 90%;
    margin: 0px 30px 20px 0px;
    padding-top: 10px;
  }
  .stanford {
    width: 85%;
    margin: 0px 30px 20px 20px;
    padding-top: 25px;
  }
}
