.selectorsPane {
    margin: 30px;
    display: flex;
  
    .select {
      flex: 0 0 auto;
      margin-left: 10px;
    }
    .txt{
      flex: 0 0 auto;
      margin-top: 8px;
      margin-left: 10px;
    }
  }

.input{
    margin: 30px;
    width: 500px;
}